.brand-link{
    color: rgba(0,0,0,.9);
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.nav-link{
    color: rgba(0,0,0,.5);
}

.reg-link{
    text-align: center;
}